@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background: url(../aleman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #9E7F7F;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: black;
  line-height: 70px;
  text-align: center;
  background: #9E7F7F;
  user-select: none;
  font-family:'Poppins', sans-serif ;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: black;
  line-height: 65px;
  padding-left: 30px;
  margin-top: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family:'Poppins', sans-serif ;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #EEE9E3;
  color: #EEE9E3;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #9E7F7F;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}




/* esta parte sera la tabla que tiene almacenada la informacion de la tabla usuarios */
#main-container{
  margin-left: 250px;
  margin-top: 50px;
  width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
  border: 2px solid black;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #9E7F7F;
	border-bottom: solid 5px white;
	color: white;
  border: 2px solid black;
}

tr:nth-child(even){
	background-color: white;
}

tr:hover td{
	background-color: #9E7F7F;
	color: #EEDDDD;
}







